.navbar{
    display: flex;
    align-items: center;
}

input{
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    width: 10cm;
}

button.navbutton{
    margin-left: 10px;
    padding: 9px;
    border-style: none;
    border-radius: 5px;
    background-color: #782083;
    color: white;
    font-weight: bold;
}

button.navbutton:hover{
    background-color: #ffffff;
    color: #782083;
}